<%# variables: "data", returned from Name#quebec_street_names %>
<% if data.length == 1 %>
  <p>A Quebec street is named after <strong><%= data.first[:last_name] %></strong>.</p>
<% else %>
  <p>Some Quebec streets are named after <strong><%= data.first[:last_name] %></strong>.</p>
<% end %>
<ul class="quebec-street-names">
  <% data.each do |street| %>
    <li><span class="name"><%= street[:street_type] %> <%= street[:last_name] %></span><span class="city"><%= street[:city] %></span><%= link_to('[view in Google Maps]', 'http://maps.google.com/maps?' + {:q => "#{street[:street_type]} #{street[:last_name]}, #{street[:city]}, QC, Canada"}.to_query) %></li>
  <% end %>
</ul>
