<%# variables: "data", returned from Name#stanley_cup_winners %>
<% if data.length == 1 %>
  <p><strong><%= data.first[:last_name] %></strong> appears on the Stanley Cup.</p>
<% else %>
  <p><strong><%= data.first[:last_name] %></strong> appears on the Stanley Cup <strong><%= data.length %></strong> times.</p>
<% end %>
<ul class="stanley-cup-winners">
  <% data.each do |name| %>
    <li><span class="name"><%= name[:full_name] %></span><span class="city"><%= name[:team] %> <%= name[:year] %></span></li>
  <% end %>
</ul>
